통공실/양진이/completeNode_weather.txt
[{"id":"feb414d1.bd9188","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15ed208f.3310df","type":"inject","z":"feb414d1.bd9188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":197,"wires":[["8d520bf7.112d08"]]},{"id":"8d520bf7.112d08","type":"http request","z":"feb414d1.bd9188","name":"weather","method":"GET","ret":"txt","url":"https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%ED%83%9C%ED%8F%89%EB%8F%99+%EB%82%A0%EC%94%A8&oquery=%ED%83%9C%ED%8F%89%EB%8F%99&tqi=UtZJMspVuEwssvc6GZNssssst78-073023","tls":"","x":380,"y":197,"wires":[["e218acf1.73615"]]},{"id":"bae73e.6078e8c","type":"debug","z":"feb414d1.bd9188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":197,"wires":[]},{"id":"e218acf1.73615","type":"function","z":"feb414d1.bd9188","name":"split","func":"var start= msg.payload.split(\"todaytemp\\\">\")[1];\nvar end = start.split(\"</span>\")[0];\nvar temp = end;\n\nstart= msg.payload.split(\"cast_txt\\\">\")[1];\nend = start.split(\"</p>\")[0];\nvar cast_txt = end;\n\nstart= msg.payload.split(\"num\\\">\")[1];\nend = start.split(\"</span>\")[0];\nvar min = end;\n\nstart= msg.payload.split(\"num\\\">\")[2];\nend = start.split(\"</span>\")[0];\nvar max = end;\n\nvar str = \",\"+temp+\",\"+min+\",\"+max+\",\"+cast_txt+\",\\n\";\n\n\nmsg.payload =str;\n                \nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":185,"wires":[["bae73e.6078e8c","90f0507c.23371"]]},{"id":"46f25308.2cff3c","type":"tcp in","z":"feb414d1.bd9188","name":"","server":"server","host":"","port":"6000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":200,"y":237,"wires":[["90f0507c.23371"]]},{"id":"90f0507c.23371","type":"tcp out","z":"feb414d1.bd9188","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":690,"y":237,"wires":[]},{"id":"34426a3.eecb396","type":"comment","z":"feb414d1.bd9188","name":"Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing","info":"Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing","x":340,"y":1140,"wires":[]},{"id":"186f1e6f.cf1c02","type":"inject","z":"feb414d1.bd9188","name":"button: open telnet to 1025 (windows)","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":890,"y":1140,"wires":[["99916dc2.f035f","e363ad15.54bba"]]},{"id":"99916dc2.f035f","type":"exec","z":"feb414d1.bd9188","command":"start","addpay":false,"append":"telnet localhost 1025","useSpawn":false,"timer":"","name":"start telnet","x":1130,"y":1140,"wires":[[],[],[]]},{"id":"e363ad15.54bba","type":"delay","z":"feb414d1.bd9188","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":1200,"wires":[["9599cd9c.707d6"]]},{"id":"9599cd9c.707d6","type":"exec","z":"feb414d1.bd9188","command":"msg","addpay":false,"append":"%username% \"start by pressing enter\"","useSpawn":false,"timer":"","name":"msg box","x":1120,"y":1240,"wires":[[],[],[]]}]