통공실/양진이/example_node.txt
[{"id":"e97ee4da.84f108","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7cf3970e.71df28","type":"inject","z":"e97ee4da.84f108","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["efac6ef8.cfcc7"]]},{"id":"efac6ef8.cfcc7","type":"http request","z":"e97ee4da.84f108","name":"dusty","method":"GET","ret":"txt","url":"http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureSidoLIst?ServiceKey=iXV4vLvb8wkopH3ekhwxmhhcI0033T3I3aciC7tz%2FYH9K0G0xmDsoGL7zO%2FQHyQ0Del7YotVrbI7p2ndjgZH4w%3D%3D&numOfRows=10&pageNo=1&sidoName=%ec%84%9c%ec%9a%b8&searchCondition=DAILY","tls":"","x":330,"y":100,"wires":[["105f90ac.0869ef"]]},{"id":"6c58a20a.70f30c","type":"debug","z":"e97ee4da.84f108","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":680,"y":100,"wires":[]},{"id":"105f90ac.0869ef","type":"function","z":"e97ee4da.84f108","name":"split","func":"var start= msg.payload.split(\"</dataTime>\")[1];\nvar end = start.split(\"</item>\")[0];\n\n\n\n\nmsg.payload =   end;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":100,"wires":[["6c58a20a.70f30c"]]},{"id":"4165953a.bc546c","type":"inject","z":"e97ee4da.84f108","name":"","topic":"","payload":"123","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":300,"wires":[[]]},{"id":"4e6f38af.1768e8","type":"exec","z":"e97ee4da.84f108","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":300,"wires":[[],[],[]]},{"id":"cc437582.1113a8","type":"tcp in","z":"e97ee4da.84f108","name":"Server holding connections at :1025","server":"server","host":"","port":"1025","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"text","base64":false,"x":200,"y":400,"wires":[["12e073d7.83888c","3607e9c6.2fb016"]]},{"id":"6d2a9d61.7539b4","type":"tcp out","z":"e97ee4da.84f108","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: all open connections will be messaged","x":1210,"y":400,"wires":[]},{"id":"52385f59.df81f","type":"debug","z":"e97ee4da.84f108","name":"show incomming text at the debug tab","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":500,"wires":[]},{"id":"fb0d9c1f.622a2","type":"inject","z":"e97ee4da.84f108","name":"button: create a msg","topic":"","payload":"Hello from Node-RED server.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":880,"y":320,"wires":[["a3cc11dc.d2a72"]]},{"id":"12e073d7.83888c","type":"template","z":"e97ee4da.84f108","name":"\"SERVER GOT:\" +","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SERVER GOT:\n{{payload}}","x":450,"y":460,"wires":[["52385f59.df81f"]]},{"id":"3607e9c6.2fb016","type":"template","z":"e97ee4da.84f108","name":"modify received msg to be send back","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You were sending: {{payload}}\n","x":710,"y":400,"wires":[["6d2a9d61.7539b4"]]},{"id":"93673b25.11fe68","type":"tcp in","z":"e97ee4da.84f108","name":"Proxy: fixing client with no NL :1026","server":"server","host":"","port":"1026","datamode":"stream","datatype":"utf8","newline":"","topic":"text","base64":false,"x":200,"y":660,"wires":[["49fdcd9a.441014"]]},{"id":"49fdcd9a.441014","type":"template","z":"e97ee4da.84f108","name":"fix incomming message with a newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":510,"y":660,"wires":[["d77726c.7d301d8"]]},{"id":"a3cc11dc.d2a72","type":"template","z":"e97ee4da.84f108","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":1040,"y":320,"wires":[["6d2a9d61.7539b4"]]},{"id":"d77726c.7d301d8","type":"tcp request","z":"e97ee4da.84f108","server":"localhost","port":"1025","out":"time","splitc":"0","name":"connect the Node-RED server","x":850,"y":660,"wires":[["f1c3bae1.630928"]]},{"id":"f1c3bae1.630928","type":"tcp out","z":"e97ee4da.84f108","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: any answer back to the client","x":1180,"y":660,"wires":[]},{"id":"401d513d.9a118","type":"inject","z":"e97ee4da.84f108","name":"button: create a msg","topic":"","payload":"Hello from Node-RED server.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":240,"wires":[["566198d.bef7668"]]},{"id":"566198d.bef7668","type":"template","z":"e97ee4da.84f108","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":530,"y":240,"wires":[[]]},{"id":"38dc0a4c.8c0906","type":"inject","z":"e97ee4da.84f108","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":160,"wires":[["4fedb46.a45484c"]]},{"id":"4fedb46.a45484c","type":"http request","z":"e97ee4da.84f108","name":"weather","method":"GET","ret":"txt","url":"https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%ED%83%9C%ED%8F%89%EB%8F%99+%EB%82%A0%EC%94%A8&oquery=%ED%83%9C%ED%8F%89%EB%8F%99&tqi=UtZJMspVuEwssvc6GZNssssst78-073023","tls":"","x":420,"y":160,"wires":[["c9bc110b.aab8d"]]},{"id":"30a97d2b.1e03e2","type":"debug","z":"e97ee4da.84f108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":160,"wires":[]},{"id":"c9bc110b.aab8d","type":"function","z":"e97ee4da.84f108","name":"split","func":"var start= msg.payload.split(\"todaytemp\\\">\")[1];\nvar end = start.split(\"</span>\")[0];\nvar temp = end;\n\nstart= msg.payload.split(\"cast_txt\\\">\")[1];\nend = start.split(\", \")[0];\nvar cast_txt = end;\n\nstart= msg.payload.split(\"num\\\">\")[1];\nend = start.split(\"</span>\")[0];\nvar min = end;\n\nstart= msg.payload.split(\"num\\\">\")[2];\nend = start.split(\"</span>\")[0];\nvar max = end;\n\nvar str = \"!\"+temp+\"!\"+min+\"!\"+max+\"!\"+cast_txt+\"!\\n\";\n\n\nmsg.payload =str;\n                \nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":148,"wires":[["30a97d2b.1e03e2","c1996e9f.9ef91"]]},{"id":"3f026dba.127cf2","type":"tcp in","z":"e97ee4da.84f108","name":"","server":"server","host":"","port":"6000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":240,"y":200,"wires":[["c1996e9f.9ef91"]]},{"id":"c1996e9f.9ef91","type":"tcp out","z":"e97ee4da.84f108","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":730,"y":200,"wires":[]}]