통공실/양진이/node.txt
[{"id":"feb414d1.bd9188","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15ed208f.3310df","type":"inject","z":"feb414d1.bd9188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["8d520bf7.112d08"]]},{"id":"8d520bf7.112d08","type":"http request","z":"feb414d1.bd9188","name":"weather","method":"GET","ret":"txt","url":"https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%ED%83%9C%ED%8F%89%EB%8F%99+%EB%82%A0%EC%94%A8&oquery=%ED%83%9C%ED%8F%89%EB%8F%99&tqi=UtZJMspVuEwssvc6GZNssssst78-073023","tls":"","x":380,"y":200,"wires":[["e218acf1.73615"]]},{"id":"bae73e.6078e8c","type":"debug","z":"feb414d1.bd9188","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":720,"y":200,"wires":[]},{"id":"e218acf1.73615","type":"function","z":"feb414d1.bd9188","name":"split","func":"var start= msg.payload.split(\"todaytemp\\\">\")[1];\nvar end = start.split(\"</span>\")[0];\nvar temp = end;\n\nstart= msg.payload.split(\"cast_txt\\\">\")[1];\nend = start.split(\"</p>\")[0];\nvar cast_txt = end;\n\nstart= msg.payload.split(\"num\\\">\")[1];\nend = start.split(\"</span>\")[0];\nvar min = end;\n\nstart= msg.payload.split(\"num\\\">\")[2];\nend = start.split(\"</span>\")[0];\nvar max = end;\n\n\n\nmsg.payload =   \"현재온도 : \"+temp+\"\\n\"+\n                \"날씨비교 : \"+cast_txt+\"\\n\"+\n                \"최저온도 : \"+min+\"\\n\"+\n                \"최고온도 : \"+max+\"\\n\";\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["bae73e.6078e8c"]]},{"id":"d4317d91.2e2a7","type":"inject","z":"feb414d1.bd9188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":100,"wires":[["95cf4a7d.0ae538"]]},{"id":"95cf4a7d.0ae538","type":"http request","z":"feb414d1.bd9188","name":"dusty","method":"GET","ret":"txt","url":"http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureSidoLIst?ServiceKey=iXV4vLvb8wkopH3ekhwxmhhcI0033T3I3aciC7tz%2FYH9K0G0xmDsoGL7zO%2FQHyQ0Del7YotVrbI7p2ndjgZH4w%3D%3D&numOfRows=10&pageNo=1&sidoName=%ec%84%9c%ec%9a%b8&searchCondition=DAILY","tls":"","x":370,"y":100,"wires":[["599c7076.a0e97"]]},{"id":"b7362226.78e7e","type":"debug","z":"feb414d1.bd9188","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":720,"y":100,"wires":[]},{"id":"599c7076.a0e97","type":"function","z":"feb414d1.bd9188","name":"split","func":"var start= msg.payload.split(\"</dataTime>\")[1];\nvar end = start.split(\"</item>\")[0];\n\n\n\n\nmsg.payload =   end;\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["b7362226.78e7e"]]}]